html {
    margin: 0;
    padding: 0;
  }
  
  

  body { 
    /* font-family: Calibri, sans-serif; */
    /* background-color: rgb(33, 184, 73); */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('1.avif');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }
  /* body {
    
  } */
  
  input {
    font-size: 1.1em;
  }
  
  label  {
    font-size: 1.1em;
  }
  
  #title {
    
    background-color: #043688;
    
    color: white;
    
    border: none;
    border-radius: 3px;
    font-weight: normal;
    font-size: 1.75em;
    margin-right: 2rem;
  
  }
  
  #blurb {
    background-color: rgba(255, 255, 255, 0.386);
    text-align: center;
    margin: 1em auto 1em auto;
    width: 500px;
    padding: .5em;
    border-radius: 5px;
  }

  
  
  #visual-title {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: .5em;
  }
  
  /* #array-visual {
    background-color: blue;
    position: fixed;
    bottom: 0;
    width: 100%; /*Corrected width property*/
    /* height: 50px; Set an explicit height */
    /* display: block; Ensure the element is displayed */
    /* overflow: auto; Handle overflow if necessary */

  #array-container{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    width: 100%;
    
  }

  #array-visual{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  #mark-visual{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  
  header {
    background-color: #5BBCFF;
    position: fixed;
    width: 100%;
    padding: 1rem 1rem;
    top: 0;
    left: 0;
    right: 0;
  }
  
  button {
    margin:  0.8rem 0.8rem 0 0.8rem;
    background-color: #043688;
    font-size: 1.1em;
    color: white;
    padding: 0.38rem 0.6rem;
    border: none;
    border-radius: 10px;
    font-weight: normal;
  }
  
  button:hover{
    box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.764);
    background-color: #0f459b;
    cursor: pointer;
  }
  
  rect:hover, circle:hover, text.circle:hover, text.rect:hover {
    cursor: pointer;
  }
  
  .subtext {
    font-size: .8em;
    font-weight: 400;
  }
  
  svg{
    display: flex;
    justify-content: center;
  }


  .svg-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
  }
  
  .svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
  }


  #inputs{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .key-input input{
    width: 3rem;
  }

  #footer{
    width: 100%;
    background-color: #5BBCFF;
    position: fixed;
    bottom: 0;
    padding: 1rem 5rem;
  }

  .footer-divs{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.3rem;
  }

  .footer-divs div{
    height: 2.3rem;
    width: 2.3rem;
    border: 2px solid black;
  }

  .footer-divs p{
    font-weight: bold;
  }

  .gray{
    background-color: gray;
  }

  .blue{
    background-color: blue;
    color: rgb(50, 50, 245);
  }

  .green{
    background-color: green;
  }